<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MainProject</display-name>
  <welcome-file-list>
    <welcome-file>SuperAdmin.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginSuperAdmin</display-name>
    <servlet-name>LoginSuperAdmin</servlet-name>
    <servlet-class>com.avas.LoginSuperAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSuperAdmin</servlet-name>
    <url-pattern>/LoginSuperAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgetpass</display-name>
    <servlet-name>Forgetpass</servlet-name>
    <servlet-class>com.avas.Forgetpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgetpass</servlet-name>
    <url-pattern>/Forgetpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccUser</display-name>
    <servlet-name>CreateAccUser</servlet-name>
    <servlet-class>com.avas.CreateAccUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccUser</servlet-name>
    <url-pattern>/CreateAccUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDealer</display-name>
    <servlet-name>AddDealer</servlet-name>
    <servlet-class>com.avas.AddDealer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDealer</servlet-name>
    <url-pattern>/AddDealer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDealer</display-name>
    <servlet-name>DeleteDealer</servlet-name>
    <servlet-class>com.avas.DeleteDealer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDealer</servlet-name>
    <url-pattern>/DeleteDealer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAwas</display-name>
    <servlet-name>AddAwas</servlet-name>
    <servlet-class>com.avas.AddAwas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAwas</servlet-name>
    <url-pattern>/AddAwas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealerLogin</display-name>
    <servlet-name>DealerLogin</servlet-name>
    <servlet-class>com.avas.DealerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealerLogin</servlet-name>
    <url-pattern>/DealerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComplaint</display-name>
    <servlet-name>AddComplaint</servlet-name>
    <servlet-class>com.avas.AddComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComplaint</servlet-name>
    <url-pattern>/AddComplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBill</display-name>
    <servlet-name>AddBill</servlet-name>
    <servlet-class>com.avas.AddBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBill</servlet-name>
    <url-pattern>/AddBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserPhoto</display-name>
    <servlet-name>AddUserPhoto</servlet-name>
    <servlet-class>com.avas.AddUserPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserPhoto</servlet-name>
    <url-pattern>/AddUserPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.avas.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comment</display-name>
    <servlet-name>Comment</servlet-name>
    <servlet-class>com.avas.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendEmail</display-name>
    <servlet-name>SendEmail</servlet-name>
    <servlet-class>com.avas.SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmail</servlet-name>
    <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailService</display-name>
    <servlet-name>EmailService</servlet-name>
    <servlet-class>com.avas.EmailService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailService</servlet-name>
    <url-pattern>/EmailService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Searchsubmit</display-name>
    <servlet-name>Searchsubmit</servlet-name>
    <servlet-class>com.avas.Searchsubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchsubmit</servlet-name>
    <url-pattern>/Searchsubmit</url-pattern>
  </servlet-mapping>
</web-app>